

body {
  font-family: 'Ariel';
  font-size: 1.1em;
  background-color:#eee;
}

.navbar-light .navbar-brand {
  color:  white(218, 15, 15);
}

.navbar {
  background-color: white;
  width: 100%;
  padding: 0;
  font-family: 'Ariel';
  color: rgb(20, 102, 150);
  }
.dropdown-item {
  font-family: 'Ariel';
  color: rgb(20, 102, 150);
}



.navbar-brand {
  font-family: 'Ariel';
  font-size: 25px;
  font-weight: bolder;
  color: rgb(20, 102, 150)!important;
  padding: 10px;
  margin-left: 5%;
}
.buttons {
  font-size: 25px;

}
.nav-link {
  font-family: 'Ariel';
  color: rgb(20, 102, 150)!important;
  font-size: 16px;;
}

.content {
  width:85%;
  margin: 40px auto;
  padding:1em;
}

.text-left {
  text-align: left;
  color: rgb(20, 102, 150);
  font-family: 'Ariel';
  font-weight: bolder;
}

.text-center {
  color: rgb(20, 102, 150);
  font-family: 'Ariel';
  font-weight: bolder;
}

p:not(.intro) {
  text-align: justify;
  color: #7e7e7e;
}

.thumbnail {
  width:50%;
}

.main-image {      
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    float: left;
}


.col-md-8 {
  background-color: white;
}

.col-sm-12,.col-md-4 {
  background-color: white;
}

div.col-sm-12.col-md-12 div.col-lg-6.col-sm-12 img {
  width: 100%;
}

div.col-sm-12.col-md-12 p {
  color: black;
  font-size: medium;
}